body {
  background-color: black;
}

#top {
  height: 150px;
  widows: 342px;
  background-color: black;
  color: white;
  padding-top: 490px;
  text-align: center;
}

#top > h3 {
  padding-top: 5px;
}

#top > hr {
  width: 200px;
  margin-top: -10px;
}
