body { 
	text-align: center;
	width: 100%;
}

#palavra {
	font-weight: bold;
	font-size: 80px;
	letter-spacing: 20px;
	word-wrap: break-word;
}

#chances {
	font-size: 25px;
}

#feedback {
	font-weight: bold;
	font-size: 20px;
}
